.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card-Clients{
    background-color:rgb(78, 56, 128);
    img{
        width: 100%;
        display: block;
      
    }
}