


.about{

margin-top: 60px;

    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 

}
.about-freelance{
    justify-content: center;
        width: 500px;
        text-align: center;
   
}

.about-p{
    background-color: rgba(128, 128, 128, 0.406);
    border-radius: 30px;
    padding: 5px;
}